{{#extends 'base'}}
{{#block 'content'}}
<h1>Create New products</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add product" class="btn btn-sucess"/>
</form>

{{/block}}
{{/extends}}